<div>
  <nav class="navbar is-fixed-top has-shadow is-spaced" style="transition: all 0.3s ease 0s;">
    <div class="container">
      <div class="navbar-brand">
        <a href="/" class="navbar-item router-link-exact-active is-active">
          <i class="material-icons logo">videogame_asset</i>
          <!-- <img src="https://mythril.nyc3.cdn.digitaloceanspaces.com/logo/1.png" alt="Mythril Logo"> -->
        </a>
        <div data-target="navMenuIndex" class="navbar-burger burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navMenuIndex" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a href="/games" class="navbar-link">
              Games
            </a>
            <div class="navbar-dropdown">
              <a href="/games" class="navbar-item">
                Browse games
              </a>
              <a href="/genres" class="navbar-item">
                Browse by genre
              </a>
              <hr class="navbar-divider">
              <a href="/reviews" class="navbar-item">
                Reviews
              </a>
              <a href="/recommendations" class="navbar-item">
                Recommendations
              </a>
            </div>
          </div>
          <div *ngIf="isAdmin" class="navbar-item has-dropdown is-hoverable">
            <a href="#" class="navbar-link">
              Admin Area
            </a>
            <div class="navbar-dropdown">
              <a href="/admin/addgame" class="navbar-item">
                Add new game
              </a>
              <a href="/admin/addgenre" class="navbar-item">
                Add new genre
              </a>
              <a href="/admin/addcompany" class="navbar-item">
                Add new company
              </a>
              <a href="/admin/addconsole" class="navbar-item">
                Add new console
              </a>
            </div>
          </div>
        </div>
        <div *ngIf="!loggedUser" class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control has-icons-left is-hidden-touch">
                <input placeholder="Search..." class="input nav-search" style="width: 200px;" type="text">
                <span class="icon is-left">
                  <i class="fas fa-search"></i>
                </span>
              </p>
              <p class="control">
                <a href="/login" class="button">
                  <span class="icon is-small">
                    <i class="fas fa-sign-in-alt"></i>
                  </span>
                  <span>Login</span>
                </a>
              </p>
              <p class="control">
                <a href="/register" class="button is-primary">
                  <span class="icon">
                    <i class="fas fa-user-plus"></i>
                  </span>
                  <span>Register</span>
                </a>
              </p>
            </div>
          </div>
          <!---->
        </div>
        <div *ngIf="loggedUser" class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <h1>{{loggedUser?.userName}}</h1>
              <p (click)="logOut()" class="control">
                <a href="." class="button">
                  <span class="icon is-small">
                    <i class="fas fa-sign-in-alt"></i>
                  </span>
                  <span>Log Out</span>
                </a>
              </p>
            </div>
          </div>
          <!---->
        </div>
      </div>
    </div>
  </nav>
</div>