<section class="hero is-success is-fullheight">
  <div class="hero-body">
      <div class="container has-text-centered">
          <div class="column is-6 is-offset-3">
              <h3 class="title has-text-grey">Register</h3>
              <p class="subtitle has-text-grey">Please provide the information above.</p>
              <div class="box">
                  <form name="registerForm" #registerForm="ngForm" (ngSubmit)="sendForm()">
                      <div class="field">
                          <div class="control">
                            <label>User Name</label>
                              <input class="input is-large" type="text" placeholder="Ex: Sonic" autofocus="" required [(ngModel)]="model.userName" name="userName"
                                  #userName="ngModel" [ngClass]="{'is-danger': !userName.valid && !userName.pristine}">
                          </div>
                      </div>
                      <div class="field">
                          <div class="control">
                            <label for="">Email</label>
                              <input class="input is-large" type="email" placeholder="Ex: sonic@thehedegog.com" required email [(ngModel)]="model.email" name="email"
                                  #email="ngModel" [ngClass]="{'is-danger': !email.valid && !email.pristine}">
                          </div>
                      </div>
                      <div class="field">
                          <div class="control">
                            <label for="">Password</label>
                              <input class="input is-large" type="password" placeholder="Ex: **********" required [(ngModel)]="model.password" name="password"
                                  #password="ngModel" [ngClass]="{'is-danger': !password.valid && !password.pristine}">
                          </div>
                      </div>
                      <button class="button is-block is-info is-large is-fullwidth" [disabled]="!registerForm.form.valid">Register</button>
                      <article *ngIf="error" class="message is-danger">
                          <div class="message-body">
                            <ul class="error-list">
                              <li *ngFor="let err of listError">{{err.description}}</li>
                            </ul>
                          </div>
                      </article>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>