<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input formControlName="name" class="input" type="text" placeholder="Text input" [ngClass]="{
          'is-danger': name.invalid && name.dirty
        }">
      </div>
    </div>
    <div class="field">
      <label class="label">Release Date</label>
      <div class="control">
        <input formControlName="releaseDate" class="input" type="date" placeholder="Text input" [ngClass]="{
          'is-danger': releaseDate.invalid && releaseDate.dirty
        }">
      </div>
    </div>
    <div class="field">
      <label class="label">Description</label>
      <div class="control">
        <textarea formControlName="description" class="textarea" placeholder="Textarea" [ngClass]="{
          'is-danger': description.invalid && description.dirty
        }"></textarea>
      </div>
    </div>
    <div class="field">
      <label class="label">Short Description</label>
      <div class="control">
        <textarea formControlName="shortDescription" class="textarea" placeholder="Textarea" [ngClass]="{
          'is-danger': shortDescription.invalid && shortDescription.dirty
        }"></textarea>
      </div>
    </div>
    <div class="field">
      <label class="label">Price</label>
      <div class="control">
        <input formControlName="price" class="input" type="text" placeholder="Text input" [ngClass]="{
          'is-danger': price.invalid && price.dirty
        }">
      </div>
    </div>
    <div class="field">
      <label class="label">Genres</label>
      <div class="control">
          <ng-select [formControl]="form.controls.gameGenres"
                     [items]="genresList"
                     bindLabel="name"
                     bindValue="id"
                     [multiple]="true"
                     placeholder="Select dropdown" 
                     required>
          </ng-select>
      </div>
    </div>
    <div class="field">
      <label class="label">Developers</label>
      <div class="control">
          <ng-select [formControl]="form.controls.gameDevelopers"
                     [items]="companiesList"
                     bindLabel="name.fantasyName"
                     bindValue="id"
                     [multiple]="true"
                     placeholder="Select dropdown"
                     required>
          </ng-select>
      </div>
    </div>
    <div class="field">
      <label class="label">Publishers</label>
      <div class="control">
          <ng-select [formControl]="form.controls.gamePublishers"
                     [items]="companiesList"
                     bindLabel="name.fantasyName"
                     bindValue="id"
                     [multiple]="true"
                     placeholder="Select dropdown"
                     required>
          </ng-select>
      </div>
    </div>
    <div class="field">
      <label class="label">Platform</label>
      <div class="control">
          <ng-select [formControl]="form.controls.gamePlatforms"
                     [items]="platformsList"
                     bindLabel="name"
                     bindValue="id"
                     [multiple]="true"
                     placeholder="Select dropdown"
                     required>
          </ng-select>
      </div>
    </div>
    <div class="field">
      <label class="label">Image</label>
      <div class="control">
        <input class="input" type="text" placeholder="Text input">
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button type="submit" class="button is-link">Submit</button>
      </div>
      <div class="control">
        <button class="button is-text">Cancel</button>
      </div>
    </div>
  </form>
</div>