<section [@carousel]="{value: states[slideCounter], params: {imagePath: slides[slideCounter].imagePath }}" class="hero carousel-body is-primary is-bold">
    <div class="carousel-prev">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 16">
          <path fill="#ffffff" d="M15 1h-14v14h14v-14zM14 14h-12v-12h12v12z"></path>
          <path fill="#ffffff" d="M10 4v8l-5-4z"></path>
        </svg>
        </div>
  <div class="hero-body">
    <div class="carousel-next">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 16">
          <path fill="#ffffff" d="M15 1h-14v14h14v-14zM14 14h-12v-12h12v12z"></path>
          <path fill="#ffffff" d="M5.9 12v-8l5 4z"></path>
          </svg>
    </div>
  </div>
  <div class="legend-container hero-foot carousel-footer">
    <div class="container">
      <h1 class="title">
        {{slides[slideCounter].gameName}}
      </h1>
      <h2 class="subtitle">
        {{slides[slideCounter].gameDescription}}
      </h2>
    </div>
  </div>
  <progress class="progress carousel-progressbar is-primary" value="{{progessPercentage}}" max="100">15%</progress>
</section>