.game-detail-hero {
    min-height: 480px;
}

.hero-body {
    background-size: cover;
    background-position: 35% top;
}

.container-detail-game {
    margin-left: 64px;
    margin-right: 64px;
    max-width: 600px;
    z-index: 2;
    position: relative;
    min-height: 300px;
    max-width: 600px;
}

.container-detail-game::after {
    width: 800px;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg,rgba(30,38,44,.97),rgba(30,38,44,.8) 50%,rgba(30,38,44,0));
    content: "";
    position: absolute;
    z-index: -1;
    left: -200px;
    top: -48px;
    height: 481px;
}

.button {
    transition: background-color 500ms 
}

@media screen and (min-width: 769px) {
    .container-detail-game::after {
        left: -200px;
        top: -143px;
        height: 587px;
    }
}
