<section class="hero is-success is-fullheight">
  <div class="hero-body">
      <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
              <h3 class="title has-text-grey">Login</h3>
              <p class="subtitle has-text-grey">Please login to proceed.</p>
              <div class="box">
                  <form name="loginForm" #loginForm="ngForm">
                      {{model}}
                      <div class="field">
                          <div class="control">
                              <input class="input is-large" type="text" placeholder="User name" autofocus=""
                                  required [(ngModel)]="model.userName" name="userName">
                          </div>
                      </div>

                      <div class="field">
                          <div class="control">
                              <input class="input is-large" type="password" placeholder="Password" 
                                  required [(ngModel)]="model.password" name="password">
                          </div>
                      </div>
                      <div class="field">
                          <label class="checkbox">
            <input type="checkbox">
            Remember me
          </label>
                      </div>
                      <button class="button is-block is-info is-large is-fullwidth" (click)="newUser(); loginForm.reset()">Login</button>
                  </form>
              </div>
              <p class="has-text-grey">
                  <a href="../">Sign Up</a> &nbsp;·&nbsp;
                  <a href="../">Forgot Password</a> &nbsp;·&nbsp;
                  <a href="../">Need Help?</a>
              </p>
          </div>
      </div>
  </div>
</section>